<div class="container">
    <div class="row">
        <h1>Tienda de Libros</h1>
    </div>
    <div class="row">
        {{!-- Columna Izquierda --}}
        <div class="col">
            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Ancientlibraryalex.jpg/800px-Ancientlibraryalex.jpg" alt="">
        </div>
        {{!-- Columna Derecha --}}
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At dicta nesciunt eaque accusantium quas temporibus sint harum dolore vel maiores in itaque aspernatur laboriosam ipsam reiciendis deleniti, libero quisquam ad?
        </div>
    </div>

</div>

